:root {
  --text-dark: #111111;
  --text-light: #ffffff;
}

body {
  margin: 0;
}

.color-block {
  flex: 1;
  min-height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  color: var(--text-dark);
}

.text-white {
  color: var(--text-light);
}

.contact-link {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: var(--text-dark);
  font-family: monospace;

  &:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 756px) {
  .container {
    display: flex;
  }

  .color-block {
    min-height: 100dvh;
  }

  .contact-link {
    bottom: 1rem;
    right: 1rem;
  }
}
